# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/master/Unity.gitignore
#
ScriptingIII/[Ll]ibrary/
ScriptingIII/[Tt]emp/
ScriptingIII/[Oo]bj/
ScriptingIII/[Bb]uild/
ScriptingIII/[Bb]uilds/
ScriptingIII/[Ll]ogs/
ScriptingIII/[Mm]emoryCaptures/

